/* My Fonts */

@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Metal+Mania&display=swap");

/* My CSS */
.navbar-toggler {
  border: 1px solid
    white !important;
  border-radius: 0;
}
a.navbar-brand,
.navbar-nav a {
  color: white !important;
}
#main h1 {
  font-family: "Metal Mania",
    "cursive";
  font-size: 80px;
}
#main p {
  font-family: "Metal Mania",
    "cursive";
  font-size: 35px;
  margin-top: -20px;
}
#img-div img {
  border-radius: 20px;
  border: 3px solid
    black;
  box-shadow: 3px
    3px 3px
    rgba(
      0,
      0,
      0,
      0.5
    );
}
#img-caption {
  font-family: "Metal Mania",
    "crusive";
  margin-top: -15px;
}
