/* My Fonts */

@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Metal+Mania&display=swap");

/* My CSS */
.navbar-toggler {
  border: 1px solid white !important;
  border-radius: 0;
}
a.navbar-brand,
.navbar-nav a {
  color: white !important;
  border-radius: 5px;
}
.navbar-nav a:hover {
  background-color: black;
  transition: 2s;
  border-radius: 5px;
  color: #e8e4e4;
}
#main h1 {
  font-family: "Metal Mania", "cursive";
  font-size: 80px;
}
#main p {
  font-family: "Metal Mania", "cursive";
  font-size: 35px;
  margin-top: -20px;
}
#img-div img {
  border-radius: 20px;
  border: 3px solid black;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
#img-caption {
  font-family: "Metal Mania", "crusive";
  margin-top: -15px;
}
h2 {
  font-family: "Metal Mania", "cursive";
}
#tribute-link img {
  width: 150px;
  height: 200px;
  border-radius: 20px;
  border: 3px solid #e8e4e4;
}
#thumbs-img {
  height: 400px;
}
#thumbs {
  margin-top: 15px;
}
#thumbs-img {
  border: 3px solid #fff;
  border-radius: 20px;
}
#card-glr {
  border-radius: 20px;
}
footer p {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}
footer p a {
  text-decoration: none;
  color: #fff;
}
footer p {
  color: #fff;
}
footer {
  background-color: #212529;
  margin-top: 80px;
  padding: 15px;
}
